<ul class="submenu">
    <li class="appdata">
        <a href="" class="submenu-link">Author</a>
        <partial name="Data/_DataAuthorPartial" />
    </li>
    <li class="appdata">
        <a href="" class="submenu-link">Employee</a>
        <partial name="Data/_DataEmployeePartial" />
    </li>
</ul>