<ul>
    <li>
        <a asp-area="" asp-controller="Author" asp-action="AddPage">Add Author</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Author" asp-action="ShowAllPage">Show All Authors</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Author" asp-action="DeleteAllAuthor">Delete All Authors</a>
    </li>
</ul>
