<ul>
    <li>
        <a asp-area="" asp-controller="Employee" asp-action="ShowAllPage">Show All Employees</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Employee" asp-action="DeleteAllEmployee">Delete All Employees</a>
    </li>
</ul>
