@model TestEntityCoreAuthorsBooks.Models.ShowModel

<div style="margin-bottom: 2%;" class="container">
    <form class="form-inline" id="search-form" asp-action="Search" data-ajax="true"
          data-ajax-method="GET" data-ajax-update="#ajax-show-list"
          data-ajax-loading="#global-ajax-loading">

        <input id="idPageUiModel" hidden type="text" name="idPageUi" value="@Model.PageUiModel.Id" />

        <div class="row">

            <div class="col-sm-6 .col-lg-8">
                <span class="deleteicon">
                    @Html.TextBox("term", null,
                    new { @class = "form-control",
                    id = "idInputSearch",
                    placeholder = "search... or go to page 1..",
                    })
                    <span id="idClearInput" class="cross-clear">X</span>
                </span>
            </div>

            <div style="width:85px;" class="col-sm-2">
                <input id="idBtnSearch" type="submit" class="btn btn-primary" value="Submit" />
            </div>

            <div style="width:136px; margin-top:5px; margin-left:20px;" class="col-sm-2">
                <label class="form-label">Items Per Page:</label>
            </div>

            <div class="col-sm-2">
                <select asp-for="ItemsPerPage" id="perpage" name="perpage" class="form-control"
                        asp-items="Html.GetEnumSelectList<ItemsPerPage>()">
                </select>
            </div>

        </div>
    </form>
</div>
<div class="panel-body" id="ajax-show-list">
    @await Html.PartialAsync("_AuthorsList", Model)
    @*@Html.Partial("_AuthorsList", Model)*@

</div>


@*@Html.Partial("_AuthorsPagedList", Model)*@

<script type="text/javascript">
    document.getElementById("idInputSearch").addEventListener("input", inputSearchInput);
    document.getElementById("perpage").addEventListener("change", onChangePerPage);
    document.getElementById("idClearInput").addEventListener("click", onClickClearInput);

    //document.getElementById("idInputSearch").addEventListener("focusout", inputSearchChange);

    //document.getElementById("idClearInput").addEventListener("click", clearClick);


    function onChangePerPage() {
        console.log('changePerPage');
        var htmlElem = document.getElementsByName("perpage");
        var pageUiElem = document.getElementById("idPageUiModel");
        console.log("pageUiElem.value = " + pageUiElem.value);
        if (htmlElem === null || pageUiElem === null) {
            return;
        }

        var perpageValue = htmlElem[0].options[htmlElem[0].selectedIndex].text;
        console.log(htmlElem[0].options[htmlElem[0].selectedIndex].text);
        $.ajax({
            url: 'Author/UpdatePerPage',
            type: 'POST',
            dataType: 'json',
            data: {
                perpage: perpageValue,
                idPageUi: pageUiElem.value,
            },

            success: function (data) {

                console.log('success');
            },
            error: function (data) {
                console.log('err');
            }
        });
    }
    //function inputSearchChange() {
    //    console.log('111111111111111');
    //    var idSearch = document.getElementById("idInputSearch");
    //    if (idSearch != null) {
    //        console.log(idSearch.value);
    //        var term = idSearch.value;
    //        term = term.split(/[ ,]+/).join('%')
    //        //alert(term);
    //        $("#theTable").load("/Author/Search?term=" + term);
    //    }



    //}

    function inputSearchInput() {
        console.log('2222222222222');
        let textSearch = document.getElementById("idInputSearch").value;
        var idClear = document.getElementById("idClearInput");
        if (textSearch != null && textSearch != '') {

            if (idClear != null) {
                idClear.style.display = 'block';
            }
        }
        else if (textSearch != null && textSearch === '') {
            if (idClear != null) {
                idClear.style.display = 'none';
            }
        }
    }

    function onClickClearInput() {
        console.log('3333333333333333');

        var idSearch = document.getElementById("idInputSearch");
        var idClear = document.getElementById("idClearInput");
        var pageUiElem = document.getElementById("idPageUiModel");
        console.log("pageUiElem.value = " + pageUiElem.value);
        if (idSearch != null) {
            idSearch.value = '';

            document.getElementById("idBtnSearch").click();
            console.log("idSearch != null");
            //$("#theTable").load("/Author/Search?term=" + null);
            //$.ajax({
            //    url: 'Author/Search',
            //    type: 'GET',
            //    dataType: 'json',
            //    data: {
            //        term: null,
            //        idPageUi: pageUiElem.value,
            //    },

            //    success: function (data) {

            //        console.log('success');
            //    },
            //    error: function (data) {
            //        console.log('err');
            //    }
            //});
            idSearch.focus();
        }
        if (idClear != null) {
            idClear.style.display = 'none';
        }

    }
</script>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}